* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
}

div.header {
  align-items: center;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

div.header b {
  color: #9b9b9b;
  font-size: 2.5em;
}

body.hide-cpu .container.cpu,
body.hide-mem .container.mem,
body.hide-load .container.load,
body.hide-responseTime .container.responseTime,
body.hide-rps .container.rps,
body.hide-statusCodes .container.statusCodes {
  display: none;
}

h1 {
  font-size: 2.5em;
  color: #222;
  margin: 0;
}

h5 {
  margin: 0;
  color: #888;
}

h6 {
  margin: 0;
}

p {
  font-size: 0.7em;
  color: #888;
}

span {
  cursor: pointer;
  font-size: 15px;
  margin-left: 5px;
  border: 1px solid #DDD;
  padding: 9px 11px 9px 11px;
}

canvas {
  width: 400px;
  height: 100px;
}

.content {
  width: 600px;
  margin: auto;
}

.active {
  background: #eeeeee;
}

.stats-column {
  flex: 0 0 200px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 120px;
}

.chart-container {
  width: 400px;
  height: 115px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.container.healthChecks {
  display: block;
  height: auto;
}

.health-check-row {
  align-items: center;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  margin: 0 0 10px 0;
  width: 100%;
}

.health-check-title-column {
  flex: 0 0 400px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.health-check-title-column h5 a {
  color: #888;
  cursor: pointer;
  text-decoration: none;
}

.health-check-title-column h5 a:hover {
  text-decoration: underline;
}

.health-check-status-container {
  align-items: center;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  height: 2em;
  text-align: center;
  width: 200px;
}

.health-check-status-container.ok {
  background: #75D701;
}

.health-check-status-container.failed {
  background: #E53A40;
}

.health-check-status-container h1 {
  line-height: 2em;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  display: none;
  text-align: center;
}

.span-controls {
  float: right;
  margin-left: auto;
}

.status-code {
  margin-top: 2px;
}

.status-code:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.status-code-2xx:before {
  background-color: #75D701;
}

.status-code-3xx:before {
  background-color: #47b8e0;
}

.status-code-4xx:before {
  background-color: #ffc952;
}

.status-code-5xx:before {
  background-color: #E53A40;
}


@media (max-width:650px){
  .content {
    width: 100vw;
  }
  div.header {
    width: calc(100vw - 16px);
    display: flex;
    margin-top: 35px;
    align-items: center;
    margin-bottom: 35px;
    flex-direction: column;
  }
  .container {
    margin-top: 20px;
    height: 210px;
    display: block;
  }
  h5 {
    font-size: 1.3em;
  }
  h1 {
    font-size: 2em;
    color: #222;
    margin: 5px 0 10px 0;
  }
  .span-controls {
    margin-top: 25px;
    margin-left: unset;
  }
  .statusCodes .stats-column {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .status-code:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 6px;
  }
  .statusCodes .stats-column h6:first-of-type {
    margin-left: 10px;
  }
}
