* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  color: #222;
  margin: 0;
}

h5 {
  margin: 0;
  color: #888;
}

h6 {
  margin: 0;
}

p {
  font-size: 0.7em;
  color: #888;
}

span {
  cursor: pointer;
  font-size: 10px;
  margin-left: 5px;
  border: 1px solid #DDD;
  padding: 3px 10px 4px 10px;
}

canvas {
  width: 400px;
  height: 100px;
}

.content {
  width: 600px;
  margin: auto;
}

.active {
  background: #eeeeee;
}

.stats-column {
  flex: 0 0 200px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 100px;
}

.chart-container {
  width: 400px;
  height: 100px;
}

.footer {
  text-align: center;
}

.span-controls {
  float: right;
}

.status-code {
  margin-top: 2px;
}

.status-code:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.status-code-2xx:before {
  background-color: #75D701;
}

.status-code-3xx:before {
  background-color: #47b8e0;
}

.status-code-4xx:before {
  background-color: #ffc952;
}

.status-code-5xx:before {
  background-color: #E53A40;
}
